<a href="https://colab.research.google.com/github/KabichNeu/StockMarketPrediction/blob/master/Indicatorscalculation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''import os
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
'''

In [ ]:
'''from google.colab import files
uploaded = files.upload()'''

Saving nabildata.csv to nabildata.csv

In [ ]:
'''import io
df = pd.read_csv(io.BytesIO(uploaded['nabildata.csv']))'''

In [ ]:
#df

            Date   Open   High    Low  Close     Vol
0     2012-01-01  873.0  879.0  851.0  879.0     799
1     2012-01-02  879.0  913.0  882.0  900.0   1,002
2     2012-01-03  900.0  916.0  892.0  892.0   2,653
3     2012-01-04  892.0  875.0  842.0  865.0     490
4     2012-01-05  865.0  875.0  858.0  858.0     121
...          ...    ...    ...    ...    ...     ...
1905  2020-03-16  741.0  764.0  723.0  750.0  55,501
1906  2020-03-17  765.0  765.0  721.0  731.0  46,620
1907  2020-03-18  731.0  739.0  700.0  715.0  43,913
1908  2020-03-19  701.0  740.0  690.0  730.0  55,806
1909  2020-03-22  744.0  744.0  700.0  701.0  15,101

[1910 rows x 6 columns]

In [ ]:
'''#Sorting Dataframe by date
df = df.sort_values('Date')
df.head()'''

         Date   Open   High    Low  Close    Vol
0  2012-01-01  873.0  879.0  851.0  879.0    799
1  2012-01-02  879.0  913.0  882.0  900.0  1,002
2  2012-01-03  900.0  916.0  892.0  892.0  2,653
3  2012-01-04  892.0  875.0  842.0  865.0    490
4  2012-01-05  865.0  875.0  858.0  858.0    121

In [ ]:
'''df'''

            Date   Open   High    Low  Close     Vol
0     2012-01-01  873.0  879.0  851.0  879.0     799
1     2012-01-02  879.0  913.0  882.0  900.0   1,002
2     2012-01-03  900.0  916.0  892.0  892.0   2,653
3     2012-01-04  892.0  875.0  842.0  865.0     490
4     2012-01-05  865.0  875.0  858.0  858.0     121
...          ...    ...    ...    ...    ...     ...
1905  2020-03-16  741.0  764.0  723.0  750.0  55,501
1906  2020-03-17  765.0  765.0  721.0  731.0  46,620
1907  2020-03-18  731.0  739.0  700.0  715.0  43,913
1908  2020-03-19  701.0  740.0  690.0  730.0  55,806
1909  2020-03-22  744.0  744.0  700.0  701.0  15,101

[1910 rows x 6 columns]

In [ ]:
'''import pandas as pd
date = df['Date']
'''

In [ ]:
'''
nabil_date = [pd.Timestamp(Date) for Date in df['Date'] ]
'''

In [ ]:
'''df =df.set_index(['Date'])
'''

In [ ]:
'''!pip install stockstats
'''

Collecting stockstats
  Downloading https://files.pythonhosted.org/packages/ca/8d/34ffd52b8ff024672440c0cf40a778898687dbb7e3cae29c4e78a629e081/stockstats-0.3.1-py2.py3-none-any.whl
Requirement already satisfied: pandas>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from stockstats) (1.0.5)
Requirement already satisfied: numpy>=1.9.2 in /usr/local/lib/python3.6/dist-packages (from stockstats) (1.18.5)
Collecting int-date>=0.1.7
  Downloading https://files.pythonhosted.org/packages/43/27/31803df15173ab341fe7548c14154b54227dfd8f630daa09a1c6e7db52f7/int_date-0.1.8-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.18.1->stockstats) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.18.1->stockstats) (2018.9)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from int-date>=0.1.7->stockstats) (1.12.0)
Installing collected packages: int-date, stockstats
Successfully installed int-date-0.1.8 stockstats-0.3.1

In [ ]:
'''from stockstats import StockDataFrame as Sdf
'''

In [ ]:
'''stock_df = Sdf.retype(df)
'''

In [ ]:
'''df['RSI'] = stock_df['rsi_14']
df['MACD'] = stock_df['macd']
df['CCI'] = stock_df['cci']
df['ADX'] = stock_df['adx']
'''

In [ ]:
'''df'''

             open   high    low  ...       MACD         CCI         ADX
Date                             ...
2012-01-01  873.0  879.0  851.0  ...   0.000000         NaN         NaN
2012-01-02  879.0  913.0  882.0  ...   0.471154   66.666667  100.000000
2012-01-03  900.0  916.0  892.0  ...   0.352264   54.237288  100.000000
2012-01-04  892.0  875.0  842.0  ...  -0.685267  -84.313725   67.623618
2012-01-05  865.0  875.0  858.0  ...  -1.513166  -59.581320   52.310464
...           ...    ...    ...  ...        ...         ...         ...
2020-03-16  741.0  764.0  723.0  ...   7.924927 -124.141364   26.345841
2020-03-17  765.0  765.0  721.0  ...   1.680259 -115.728978   29.561957
2020-03-18  731.0  739.0  700.0  ...  -4.507789 -120.879121   33.988905
2020-03-19  701.0  740.0  690.0  ...  -8.108023 -101.120479   38.117933
2020-03-22  744.0  744.0  700.0  ... -13.149710  -97.213115   39.894882

[1910 rows x 17 columns]

In [ ]:
'''df.info()'''

<class 'pandas.core.frame.DataFrame'>
Index: 1910 entries, 2012-01-01 to 2020-03-22
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   open             1910 non-null   float64
 1   high             1910 non-null   float64
 2   low              1910 non-null   float64
 3   close            1910 non-null   float64
 4   vol              1910 non-null   object
 5   close_-1_s       1909 non-null   float64
 6   close_-1_d       1909 non-null   float64
 7   closepm          1909 non-null   float64
 8   closenm          1909 non-null   float64
 9   closepm_14_smma  1909 non-null   float64
 10  closenm_14_smma  1909 non-null   float64
 11  rs_14            1909 non-null   float64
 12  rsi_14           1909 non-null   float64
 13  RSI              1909 non-null   float64
 14  MACD             1910 non-null   float64
 15  CCI              1909 non-null   float64
 16  ADX              1909 non-null   float64
dtypes: float64(16), object(1)
memory usage: 348.6+ KB

In [ ]:
'''df.fillna(0)'''

             open   high    low  ...       MACD         CCI         ADX
Date                             ...
2012-01-01  873.0  879.0  851.0  ...   0.000000    0.000000    0.000000
2012-01-02  879.0  913.0  882.0  ...   0.471154   66.666667  100.000000
2012-01-03  900.0  916.0  892.0  ...   0.352264   54.237288  100.000000
2012-01-04  892.0  875.0  842.0  ...  -0.685267  -84.313725   67.623618
2012-01-05  865.0  875.0  858.0  ...  -1.513166  -59.581320   52.310464
...           ...    ...    ...  ...        ...         ...         ...
2020-03-16  741.0  764.0  723.0  ...   7.924927 -124.141364   26.345841
2020-03-17  765.0  765.0  721.0  ...   1.680259 -115.728978   29.561957
2020-03-18  731.0  739.0  700.0  ...  -4.507789 -120.879121   33.988905
2020-03-19  701.0  740.0  690.0  ...  -8.108023 -101.120479   38.117933
2020-03-22  744.0  744.0  700.0  ... -13.149710  -97.213115   39.894882

[1910 rows x 17 columns]

In [ ]:
'''df.info()'''

<class 'pandas.core.frame.DataFrame'>
Index: 1910 entries, 2012-01-01 to 2020-03-22
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   open             1910 non-null   float64
 1   high             1910 non-null   float64
 2   low              1910 non-null   float64
 3   close            1910 non-null   float64
 4   vol              1910 non-null   object
 5   close_-1_s       1909 non-null   float64
 6   close_-1_d       1909 non-null   float64
 7   closepm          1909 non-null   float64
 8   closenm          1909 non-null   float64
 9   closepm_14_smma  1909 non-null   float64
 10  closenm_14_smma  1909 non-null   float64
 11  rs_14            1909 non-null   float64
 12  rsi_14           1909 non-null   float64
 13  RSI              1909 non-null   float64
 14  MACD             1910 non-null   float64
 15  CCI              1909 non-null   float64
 16  ADX              1909 non-null   float64
dtypes: float64(16), object(1)
memory usage: 348.6+ KB

In [ ]:
'''df['rs_14'][1].dtype'''

dtype('float64')

In [ ]:
'''from google.colab import files

df.to_csv('stockdata.csv')
files.download('stockdata.csv')'''

Saving stockdata.csv to stockdata (1).csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1910 entries, 0 to 1909
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             1910 non-null   object
 1   open             1910 non-null   float64
 2   high             1910 non-null   float64
 3   low              1910 non-null   float64
 4   close            1910 non-null   float64
 5   vol              1910 non-null   object
 6   close_-1_s       1909 non-null   float64
 7   close_-1_d       1909 non-null   float64
 8   closepm          1909 non-null   float64
 9   closenm          1909 non-null   float64
 10  closepm_14_smma  1909 non-null   float64
 11  closenm_14_smma  1909 non-null   float64
 12  rs_14            1909 non-null   float64
 13  rsi_14           1909 non-null   float64
 14  RSI              1909 non-null   float64
 15  MACD             1910 non-null   float64
 16  CCI              1909 non-null   float64
 17  ADX              1909 non-null   float64
dtypes: float64(16), object(2)
memory usage: 268.7+ KB

In [ ]:
stockdata = stockdata['vol'].str.replace(',','')

In [ ]:
stockdata

0         799
1        1002
2        2653
3         490
4         121
        ...
1905    55501
1906    46620
1907    43913
1908    55806
1909    15101
Name: vol, Length: 1910, dtype: object